.overskrift {
    display: flex;
    justify-content: center;
    height: 100px;
    font-size: 40px;
    font-family: 'Trebuchet MS';
  }

 
.displayBox1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 0 20px;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 60px;
    maring-right: 60px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS';

}

.displayBox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 0 20px;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 100px;
    display: inline-block;
    margin-left: 60px;
    maring-right: 60px;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS';
}

.displayBox3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 0 20px;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 100px;
    display: inline-block;
    margin-left: 60px;
    maring-right: 60px;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS';
}

.displayTemp{
    font-size: 25px;
    text-align: center;
    margin-top: 30%;
    font-family: 'Trebuchet MS';
}

.displayCO2{
    font-size: 25px;
    text-align: center;
    margin-top: 30%;
    font-family: 'Trebuchet MS';
}
  
.displayLuft{
    font-size: 25px;
    text-align: center;
    margin-top: 30%;
    font-family: 'Trebuchet MS';
}
  
  
  

 