.boundaryBox1 {
    padding: 1%;
    height: 30%;
    margin: 10px;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    text-align: center;
}